<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Go Home Early</title>
  <meta name="Go Home Early, a helper for subject coordinators" content="">
  <meta name="Joel Poh" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>

<body>
  <div class="container">
    {{template "header"}}

    <form action={{.FunctionPath}} method="GET">
      <h3>Generate</h3>
      <p>Please select the heading for the column that you wish to generate marksheets from: </p>
      <p>For example, if you want to generate marksheets for each individual tutor on the team, select the "teacher name" (or equivalent) column. If you want to generate marksheets by class, select the "class" column. </p>
      
      {{$header := index .CsvRecords 0}}
      <div class="row">
        <div class="six columns">
          <label for="colIndex">Column headers (select one)</label>
          <select id="colIndex" class="u-full-width" name="colIndex">
          {{range $i, $j := $header}}
          <option value="{{$i}}">{{$j}}</option>
          {{end}}
          </select>
          <input class="button" type="submit" value="Submit">
        </div>
      </div>
    </form>

    {{template "footer"}}
  </div>
</body>
</html>
