<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Go Home Early - Generate</title>
  <meta name="Go Home Early, a helper for subject coordinators" content="">
  <meta name="Joel Poh" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>


<body>
  <div class="container">
    <div>
      {{template "header"}}
    </div>

    <div> 
      <h3>{{.Title}}</h4>
      <p>{{.Description}}</p>
      <p>To begin, upload the CSV file of your marksheet template for the whole cohort. After you click 'upload', you will be presented with a prompt to select the column header of the column from which you wish to generate marksheets from.</p>
    </div>

    <div>
    <form action="/generate/upload" enctype="multipart/form-data" method="POST">
      <input class="button" type="file" name="userFile">
      <input class="button" type="submit" value="Upload">
    </form>
  </div>

    <div>
      {{template "footer"}}
    </div>
  </div>

</body>
</html>
