<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Go Home Early</title>
  <meta name="Go Home Early, a helper for subject coordinators" content="">
  <meta name="Joel Poh" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">


  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>


<body>

  <div class="container">
    {{template "header"}}
  </div>

  <div class="container">
    <div class="row">
      <p>Go Home Early is a utility to help subject coordinators go home early. Go Home Early provides a few functions to help coordinators perform various routine batch actions related to results administration quickly.</p>
    </div>
    {{range .}}
    <div class="row">
        <h4><a href="/{{.Path}}">{{.Title}}</a></h4>
        <p>{{.Description}}</p>
    {{end}}
  </div>

  <div class="container">
    {{template "footer"}}
  </div>

</body>
</html>
